# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [2]:
import numpy as np

2. Create a null vector of size 10

In [7]:
vector = np.arange(10)
vector

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

3. Create a vector with values ranging from 10 to 49

In [13]:
vector = np.random.uniform(low=10,high=49,size=10)

4. Find the shape of previous array in question 3

In [16]:
vector.shape

(10,)

5. Print the type of the previous array in question 3

In [17]:
vector.dtype

dtype('float64')

6. Print the numpy version and the configuration

In [20]:
print(np.__version__)
print(np.show_config())

1.19.2
blas_mkl_info:
  NOT AVAILABLE
blis_info:
  NOT AVAILABLE
openblas_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_info']
    libraries = ['openblas_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
blas_opt_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_info']
    libraries = ['openblas_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
lapack_mkl_info:
  NOT AVAILABLE
openblas_lapack_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_lapack_info']
    libraries = ['openblas_lapack_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
lapack_opt_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_lapack_info']
    libraries = ['openblas_lapack_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
None

7. Print the dimension of the array in question 3

In [ ]:
vector.ndim

8. Create a boolean array with all the True values

In [26]:
array = np.ones((2,2),dtype=int)
array

array([[1, 1],
       [1, 1]])

9. Create a two dimensional array

In [24]:
array = np.random.randn(3,3)
array

array([[ 1.11741875,  0.93607353, -1.59280344],
       [-1.16869213,  0.24989902, -0.90703053],
       [-0.17638777, -0.89415924,  0.06294896]])

10. Create a three dimensional array

In [28]:
array = np.random.randn(3,3,3)
array

array([[[-0.25817117,  0.29000645, -2.08615715],
        [ 0.36159198, -0.08325816,  0.94986163],
        [-0.06015803, -0.95625729,  0.56404514]],

       [[ 0.85606154, -2.57034356, -0.97307145],
        [ 0.53574093, -0.24148447,  0.46331908],
        [-0.21329999,  1.19585611, -0.58389519]],

       [[ 1.07593856,  0.99303874,  0.62790096],
        [ 0.11212403, -0.06995643, -1.43170699],
        [ 0.391501  , -0.14570264, -2.41883042]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [32]:
vector = np.arange(10,dtype=int)
vector[::-1]

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

12. Create a null vector of size 10 but the fifth value which is 1

In [37]:
vector = np.eye(10)[5-1]
vector

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix

In [42]:
matrix = np.identity(3,dtype=int)
matrix

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [43]:
arr = np.array([1, 2, 3, 4, 5])
float_arr = arr.astype(np.float64)
float_arr

array([1., 2., 3., 4., 5.])

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [48]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]])
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
result = arr1 * arr2
result

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [49]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]])
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
arr1>arr2

array([[ True, False,  True],
       [False,  True, False]])

17. Extract all odd numbers from arr with values(0-9)

In [52]:
array = np.arange(10)
res = array[array%2 !=0]
res

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [53]:
array = np.arange(10)
np.where(array%2!=0,-1,array)

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [31]:
arr = np.arange(10)
arr[4]=arr[5]=arr[6]=arr[7]=12
arr

array([ 0,  1,  2,  3, 12, 12, 12, 12,  8,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [20]:
x = np.ones((5,5))
print("Original array:")
print(x)
print("1 on the border and 0 inside in the array")
x[1:-1,1:-1] = 0
print(x)

Original array:
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
1 on the border and 0 inside in the array
[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [23]:
arr2d = np.array([[1, 2, 3],[4, 5, 6],[7, 8, 9]])
arr2d[arr2d==5]=12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [38]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0]=64
arr3d

array([[[64, 64, 64],
        [64, 64, 64]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [45]:
data = np.random.randint(low = 0, high=9,size = (3,4))
print(data)
data[0, 0:]

[[7 8 3 6]
 [6 5 2 3]
 [8 2 2 5]]

array([7, 8, 3, 6])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [47]:
data = np.random.randint(low = 0, high=9,size = (3,4))
print(data)
data[1,1]

[[2 6 3 1]
 [7 5 6 2]
 [1 8 7 6]]

5

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [48]:
data = np.random.randint(low = 0, high=9,size = (3,4))
print(data)
data[:2,2]

[[4 5 6 6]
 [2 1 6 4]
 [8 8 3 8]]

array([6, 6])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [50]:
data = np.random.randn(10,10)
maxVal = data.max()
minVal = data.min()
print(maxVal,minVal)

2.0824479782807916 -2.833041689234446

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [54]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.intersect1d(a,b)
#different method
a[a==b]

array([2, 2, 4, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [56]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
c = np.where(a==b)
print(c)

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [19]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
data[~(names == "Will")]

array([[ 0.24839667,  0.87660686,  0.47632998,  0.28901986],
       [ 0.85431548,  0.67113936,  0.78363075,  0.522678  ],
       [-0.77672039,  0.83326857, -0.696765  , -0.86105087],
       [-0.43542357,  1.30490671,  0.2365858 , -0.99237337],
       [ 0.96092456,  0.299484  ,  0.17351298, -0.79776904]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [16]:
import numpy as np

names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
mask = (names == 'Will') | (names== 'Joe')
data[~mask]

array([[-0.06966063, -1.76044666,  0.14165153,  0.68595603],
       [ 0.76986584,  0.56168449, -0.19565918, -1.57541511]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [51]:
arr= np.random.randint(low= 1,high = 15, size =(5,3) , dtype=int)
arr

array([[10,  6, 12],
       [13,  2, 14],
       [ 9,  3, 11],
       [ 1, 14, 14],
       [ 4, 10,  2]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [52]:
arr= np.random.randint(low= 1,high = 16, size =(2,2,4) , dtype=int)
arr

array([[[ 1, 12, 14, 10],
        [ 6,  2,  4, 10]],

       [[ 5,  4,  5, 14],
        [ 7,  4,  1,  1]]])

33. Swap axes of the array you created in Question 32

In [53]:
arr.swapaxes(1,2)

array([[[ 1,  6],
        [12,  2],
        [14,  4],
        [10, 10]],

       [[ 5,  7],
        [ 4,  4],
        [ 5,  1],
        [14,  1]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [42]:
arr = np.random.random(10)
res=np.where(np.sqrt(arr)<0.5,0,arr)
print(arr,res)

[0.9439758  0.59741286 0.28928431 0.01962171 0.31846917 0.58145512
 0.81159941 0.27084429 0.55547157 0.28665021] [0.9439758  0.59741286 0.28928431 0.         0.31846917 0.58145512
 0.81159941 0.27084429 0.55547157 0.28665021]

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [44]:
a = np.random.random(12)
b = np.random.random(12)
np.maximum(a,b)

array([0.93121228, 0.38462108, 0.6415113 , 0.6376233 , 0.53941436,
       0.43060617, 0.96387724, 0.08014975, 0.41703046, 0.72782204,
       0.89452422, 0.56588237])

In [ ]:
a = np.random.rand

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [29]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
names =np.unique(names)
names.sort()
names

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [14]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
np.setdiff1d(a,b)

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [9]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
newColumn = np.array([[10,10,10]])
sampleArray[1]=newColumn
sampleArray

array([[34, 43, 73],
       [10, 10, 10],
       [53, 94, 66]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [5]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
x.dot(y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [65]:
matrix = np.random.randn(5,4)
csum = matrix.cumsum()
csum

array([-0.8853887 , -0.90727717,  0.11535434, -0.32746886,  1.22944606,
       -0.04717274, -0.37035298,  0.5463986 ,  0.70776905, -0.1161922 ,
       -0.04826414,  0.62862372, -0.50738214, -2.5735429 , -2.81598792,
       -2.02077717, -2.2158858 , -3.46806795, -3.28984743, -5.11610252])