In [94]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [95]:
res = requests.get("https://asrank.caida.org/asns/101030")

In [96]:
soup = BeautifulSoup(res.content,"html")

In [97]:
table = soup.find_all("table")

In [98]:
len(table)

1

In [99]:
table
print()

In [100]:
table

[<table border="0" class="asrank-info-table table-condensed">
 <tr><th>AS number</th><td colspan="7">101030</td></tr>
 <tr><th>AS name</th><td colspan="7"><span class="asrank-unknown">unknown</span></td></tr>
 <tr><th>organization</th><td colspan="7"><a href="/orgs"><span class="asrank-unknown">unknown</span></a></td></tr>
 <tr><th>country</th><td colspan="7">
 <span class="asrank-unknown">unknown</span>
 <span class='flag-icon flag-icon-&lt;span class="asrank-unknown"&gt;unknown&lt;/span&gt;'></span>
 </td></tr>
 <tr><th>AS rank</th><td colspan="7"><span class="asrank-unknown">unknown</span></td></tr>
 <tr><th>customer cone </th>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of ASNs that are observed to be in the selected ASN's customer cone.">
             0<br/>
 <span>asn</span>
 </td>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of prefixes that are observed to be in the selected ASN's customer cone.">
             0<br/>
 <span>prefix</span>
 </td>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of addresses that are observed to be in the selected ASN's customer cone.">
             0<br/>
 <span>address</span>
 </td>
 </tr>
 <tr><th>AS degree</th>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of ASNs that were observed as neighbors of the selected ASN in a path.">
             0<br/>
 <span>global</span>
 </td>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of ASNs that where observed as neighbors of the selected ASN in a path, where the selected ASN was between, i.e. providing transit, for two other ASNs.">
             0<br/>
 <span>transit</span>
 </td>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of ASNs that are providers of the selected ASN.">
             0<br/>
 <span>provider</span>
 </td>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of ASNs that are peers of the selected ASN.">
             0<br/>
 <span>peer</span>
 </td>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of ASNs that are customers of the selected ASN.">
             0<br/>
 <span>customer</span>
 </td>
 </tr>
 </table>]

In [101]:
data = pd.read_html(str(table))

In [102]:
data

[               0         1          2           3        4           5  \
 0      AS number    101030     101030      101030   101030      101030
 1        AS name   unknown    unknown     unknown  unknown     unknown
 2   organization   unknown    unknown     unknown  unknown     unknown
 3        country   unknown    unknown     unknown  unknown     unknown
 4        AS rank   unknown    unknown     unknown  unknown     unknown
 5  customer cone     0 asn   0 prefix   0 address      NaN         NaN
 6      AS degree  0 global  0 transit  0 provider   0 peer  0 customer

          6        7
 0   101030   101030
 1  unknown  unknown
 2  unknown  unknown
 3  unknown  unknown
 4  unknown  unknown
 5      NaN      NaN
 6      NaN      NaN  ]

In [103]:
data[0]

,0,1,2,3,4,5,6,7
0,AS number,101030,101030,101030,101030,101030,101030,101030
1,AS name,unknown,unknown,unknown,unknown,unknown,unknown,unknown
2,organization,unknown,unknown,unknown,unknown,unknown,unknown,unknown
3,country,unknown,unknown,unknown,unknown,unknown,unknown,unknown
4,AS rank,unknown,unknown,unknown,unknown,unknown,unknown,unknown
5,customer cone,0 asn,0 prefix,0 address,NaN,NaN,NaN,NaN
6,AS degree,0 global,0 transit,0 provider,0 peer,0 customer,NaN,NaN